* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con {
  background-color: black;
  padding: 5px;
  height: 700px;
}

.App {
  color: whitesmoke;
}

@media screen and (min-width: 480px) {
  * {
    padding: 5px;
  }

  .con {
    max-width: 400px;
    display: flex;
  }
}

@media screen and (max-height: 640px) {
  .con {
    height: 640px;
  }
}

@media screen and (max-height: 896px) {
  .con {
    height: 896px;
  }
}

@media screen and (max-height: 915px) {
  .con {
    height: 915px;
  }
}
